@model IEnumerable<CRMSardis.Models.User>

@{
    ViewData["Title"] = "Kullan覺c覺 Listesi";
}

<h2>Kullan覺c覺 Listesi</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>E-posta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
